/* google fonts import here  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

/* variables  */
:root {
  --main-color: #5584ac;
  --secondary-color: #333;
  --accent-color: #fff;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* custom classes  */
.container {
  max-width: min(100% - 2rem, 1260px);
  margin: auto;
}
.colorize {
  color: var(--main-color);
}
